*.pyc
__pycache__
*.DS_Store
src/build/
src/gobgp_client/attribute.pb.cc
src/gobgp_client/attribute.pb.h
src/gobgp_client/gobgp.grpc.pb.cc
src/gobgp_client/gobgp.grpc.pb.h
src/gobgp_client/gobgp.pb.cc
src/gobgp_client/gobgp.pb.h
src/fastnetmon.grpc.pb.cc
src/fastnetmon.grpc.pb.h
src/fastnetmon.pb.cc
src/fastnetmon.pb.h
src/simple_packet_capnp/simple_packet.capnp.c++
src/simple_packet_capnp/simple_packet.capnp.h
src/traffic_output_formats/protobuf/traffic_data.pb.cc
src/traffic_output_formats/protobuf/traffic_data.pb.h
