Source: fastnetmon
Maintainer: Pavel Odintsov <pavel.odintsov@gmail.com>
Section: net
Priority: optional
Standards-Version: 3.9.6
# debhelper 8 - squeeze, 9 - wheezy/jessie 
Build-Depends: debhelper (>= 8), cmake, libboost-thread-dev,  libboost-system-dev, libboost-regex-dev, libpcap-dev, liblog4cpp5-dev, libboost-all-dev, libgpm-dev, libncurses5-dev, libgeoip-dev, clang, cmake
Homepage: https://fastnetmon.com/

Package: fastnetmon
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Very fast DDoS analyzer with sflow/netflow/mirror support
 FastNetMon is a very high performance distributed denial-of-service attack
 (DDoS attack) detector built on top of multiple packet capture engines:
 NetFlow, IPFIX, sFLOW.
 .
 It can detect hosts in your networks sending or receiving large volumes of
 packets/bytes/flows per second. It can call an external script to notify you,
 switch off a server, or blackhole the client.
 .
 To enable sFLOW, simply specify IP of the server running FastNetMon and specify
 (configurable) port 6343. To enable netflow, simply specify IP of the server
 running FastNetMon and specify (configurable) port 2055.
